{% extends 'base_planner.html' %} {% block content %} {% load mathfilters %}
<script>
    function createTable(){
        var t_body = "";
        var maintainer = "";
        var competence_needed = "";
        var flag = 0;
        var availability_per_day = "";
        var min_disp = 420;
        var perc = "";
        var assign_day = "";
        var i = 0;
        {% for maintainer in list_maintainer %}
            t_body = t_body + "<tr>";
            maintainer = "<td>{{ maintainer.user.last_name }} {{ maintainer.user.first_name }}</td>";
            if (flag == 0) {
				{% for activity in list_activity %}
					{% for competence_needed in activity.competences_needed.all %}
						competence_needed = competence_needed + "{{ competence_needed }}<i class=\"fas fa-times-circle\" aria-hidden=\"true\" style=\"float: right\"></i><br>";
						{% for competence in maintainer.competences.all %}
							{% if competence_needed == competence %}
								competence_needed = competence_needed.substring(0, competence_needed.length-71) + "<i class=\"fas fa-check-circle\" aria-hidden=\"true\" style=\"float: right\"></i><br>";
							{% endif %}
						{% endfor %}
					{% endfor %}
				{% endfor %}
				competence_needed = competence_needed + "</td>";
				flag = 1;
			}
			{% for i in day_loop|make_list %}
			    i = parseInt({{ i }});
                {% for assignment in list_assignment %}
                    if (maintainer == "<td>{{assignment.maintainer}}</td>") {
                        assign_day = "{{assignment.day}}";
                        if (i == 0 && assign_day == "Lunedì" || i == 1 && assign_day == "Martedì" || i == 2 && assign_day == "Mercoledì" || i == 3 && assign_day == "Giovedì" || i == 4 && assign_day == "Venerdì" || i == 5 && assign_day == "Sabato" || i == 6 && assign_day == "Domenica")
                            min_disp = min_disp - {{assignment.minutes}};
                        else
                            min_disp = 420;
                    }
                {% endfor %}
                perc = (((min_disp/420)*100).toFixed(2)).toString();
                    availability_per_day = availability_per_day + "<td><form action=\"{% for activity in list_activity %}{% url 'availability_slot' activity.pk  maintainer.pk i %}\"{% endfor %} method=\"get\" style=\"float: left\"><button class=\"btn-sm ml-2\" type=\"submit\">" + perc + "%</button></form></td>";
			{% endfor %}
            t_body = t_body + maintainer + "<td style=\"text-align: left\">" + competence_needed + availability_per_day + "</tr>";
            availability_per_day = "";
            flag = 0;
            competence_needed = "";
        {% endfor %}
        document.getElementById("tbody").innerHTML = t_body;
        document.getElementById("backButton").style.display = "none";
        document.getElementById("selectButton").style.display = "none";
        document.getElementById("tableAssign").style.display = "block";
    }
</script>
<div class="card shadow mb-4">
    <div class="card-header">
        <h5 class="font-weight-normal text-primary">Assegna Attività</h5>
    </div>
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="form-group">
                    <div class="text-left">
                        <b><label class="control-label"> Tipo di Attività  </label></b>
                        {% for activity in list_activity %}
                        <div>{{ activity.activity_type}}</div>
                        <br>
                        <div style="position: absolute; top: 0%; right: 25%"><b><label class="control-label">Sito</label></b><br>
                        {{ activity.factory_site }}</div>
                        <div style="position: absolute; top: 0%; right: 13%"><b><label class="control-label">Area</label></b><br>
                        {{ activity.factory_area }}</div>
                        <div style="position: absolute; top: 0%; left: 14%"><b><label class="control-label">Tipologia Attività</label></b><br>
                        {{ activity.activity_typology }}</div>
                        <div><b><label class="control-label">Descrizione</label></b><br>
                        {{ activity.activity_description }}</div>
                        <div style="position: absolute; top: 0%; left: 52%"><b><label class="control-label">Tempo Stimato:&nbsp</label></b>
                        {{ activity.estimation_time }} min.</div>
                        <br>
                        <div style="position: absolute; top: 0%; left: 39%"><b><label class="control-label">Interrompibile:&nbsp</label></b>
                        <input type="checkbox" {% if activity.interruptible %} checked {% endif %} onclick="return false;" />
                        <br></div>
                        <b><label class="control-label">Materiali</label></b>
                        <div>
                            {% if activity.materials %}
                                {{ activity.materials}}
                            {% else %}
                                Non sono richiesti Materiali per lo svolgimento di tale attività.
                            {% endif %}
                        </div>
                        <br>
                        <b><label class="control-label">Competenze Richieste</label></b>
                        <div>
                            {% for x in activity.competences_needed.all %}
                            {{ x }}<br>
                            {% endfor %}
                        </div>
                        <br>
                        <div style="position: absolute; top: 0%; left: 28%"><b><label class="control-label">Settimana:&nbsp</label></b>
                        {{ activity.week}}</div>
                        <b><label class="control-label">Workspace Notes</label></b>
                        <div>
                            {% if activity.workspace_notes %}
                                {{ activity.workspace_notes}}

                            {% else %}
                                Non ci sono Workspace Notes.
                            {% endif %}
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button id="backButton" class='btn btn-primary' type="submit" style="float:left;" onclick="window.location='../home'">Torna alla lista completa</button>
        <button id="selectButton" class='btn btn-primary' type="submit" style="float:right;" onclick="createTable();">Seleziona Maintainer</button>
    </div>
    <div id="tableAssign" class="card-body" style="display: none;">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0" style="text-align: center;">
                <thead>
                    <tr>
                        <th>Maintainer Disponibili ⇵</th>
                        <th>Competenze Richieste ⇵</th>
                        <th>Lunedì ⇵</th>
                        <th>Martedì ⇵</th>
                        <th>Marcoledì ⇵</th>
                        <th>Giovedì ⇵</th>
                        <th>Venerdì ⇵</th>
                        <th>Sabato ⇵</th>
                        <th>Domenica ⇵</th>
                    </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
