{% extends "base_planner.html" %} {% block content %}

<div class="card border-left-primary">
    <div class="card-header">
        <h3>
            Definisci Attività
        </h3>
    </div>
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="form-group">
                    <form method="post">
                        <div class="text-left">
                            <label class="control-label"> Tipo di Attività  </label>
                            <div>{{ form.activity_type}}</div>
                            <br>
                            <label class="control-label">Sito</label>
                            <div>{{ form.factory_site }}</div>
                            <br>
                            <label class="control-label">Area</label>
                            <div>{{ form.factory_area }}</div>
                            <br>
                            <label class="control-label">Tipologia Attività</label>
                            <div>{{ form.activity_typology }}</div>
                            <br>
                            <label class="control-label">Descrizione</label>
                            <div>{{ form.activity_description }}</div>
                            <br>
                            <label class="control-label">Tempo Stimato</label>
                            <div>{{ form.estimation_time }}</div>
                            <br>
                            <label class="control-label">Interrompibile</label>
                            <div>{{ form.interruptible}}</div>
                            <br>
                            <label class="control-label">Materiali</label>
                            <div>{{ form.materials}}</div>
                            <br>
                            <label class="control-label">Settimana</label>
                            <div>{{ form.week}}</div>
                            <br>
                            <label class="control-label">Workspace Notes</label>
                            <div>{{ form.workspace_notes}}</div>
                            <br>
                        </div>
                        {% csrf_token %}
                        <button class='btn btn-primary' type="submit" style="float:right;">Salva</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
