{% extends 'base_planner.html' %} {% block content %}
<div class="card shadow mb-4">
    <div class="card-header">
        <h5 class="font-weight-normal text-primary">Lista attività</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <select onchange="javascript:location.href = this.value;" class="form-control" id="week" name="week" style="width:13%"><br>
                <option selected disabled>Seleziona Settimana</option>
                <option value="?week=1">Week 1</option>
                <option value="?week=2">Week 2</option>
                <option value="?week=3">Week 3</option>
                <option value="?week=all">Mostra Tutte</option>
            </select>
            <br>
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <th>ID ⇵</th>
                    <th>Area ⇵</th>
                    <th>Tipologia ⇵</th>
                    <th>Tempo di Intervento Stimato ⇵</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activity_list %}

                    <tr>
                        <td>{{ activity.pk}}</td>
                        <td>{{ activity.factory_site}} - {{ activity.factory_area}}</td>
                        <td>{{ activity.activity_typology}}</td>
                        <td>{{ activity.estimation_time}}</td>
                        <td>
                            <form action="{% url 'user_edit' user.pk %}" method="get" style="float: left"> {% csrf_token %}
                                <button class="btn btn-info btn-circle btn-sm ml-2"><i class="fas fa-edit"></i></button>
                            </form>
                            <form action="{% url 'activity_delete' activity.pk %}" method="post" style="float: left">
                                {% csrf_token %}
                                <button class="btn btn-danger btn-circle btn-sm ml-2" onclick="return confirm('Are you sure?');"><i class="fas fa-trash "></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}