{% extends 'base_planner.html' %} {% block content %}
<div class="card shadow mb-4">
    <div class="card-header">
        <h5 id="activity_list_header" class="font-weight-normal text-primary">Lista Attività</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <select id="selectWeek" onchange="javascript:location.href = this.value;" class="form-control" id="week" name="week" style="width:13%"><br>

            </select>
            <br>
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0" style="text-align: center;">
                <thead>
                    <th>ID ⇵</th>
                    <th>Area ⇵</th>
                    <th>Tipologia ⇵</th>
                    <th>Tempo di Intervento Stimato ⇵</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activity_list %}

                    <tr>
                        <td width="10%">{{ activity.pk}}</td>
                        <td width="30%">{{ activity.factory_site}} - {{ activity.factory_area}}</td>
                        <td>{{ activity.activity_typology}}</td>
                        <td width="16.5%">{{ activity.estimation_time}}</td>
                        <td width="12%">
                            <form action="{% url 'verify_activity' activity.pk %}" method="get" style="float: left"> {% csrf_token %}
                                <span title="Verifica Attività">
                                    <button class="btn btn-success btn-circle btn-sm ml-2"><i class="fas fa-check"></i></button>
                                </span>
                            </form>
                            <form action="{% url 'verify_activity' activity.pk %}" method="get" style="float: left"> {% csrf_token %}
                                <span title="Assegna Attività">
                                    <button class="btn btn-primary btn-circle btn-sm ml-2"><i class="fas fa-calendar-check"></i></button>
                                </span>
                            </form>
                            <form action="{% url 'activity_edit' activity.pk %}" method="get" style="float: left"> {% csrf_token %}
                                <span title="Modifica Attività">
                                    <button class="btn btn-info btn-circle btn-sm ml-2"><i class="fas fa-edit"></i></button>
                                </span>
                            </form>
                            <form action="{% url 'activity_delete' activity.pk %}" method="post" style="float: left">
                                {% csrf_token %}
                                <span title="Elimina Attività">
                                    <button class="btn btn-danger btn-circle btn-sm ml-2" onclick="return confirm('Are you sure?');"><i class="fas fa-trash "></i></button>
                                </span>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
