{% extends 'base_planner.html' %} {% block content %}
<script>
    function setFormAction() {
        var action_before = document.
    }
</script>
<div class="card shadow mb-4">
    <div class="card-header">
        <h5 id="activity_list_header" class="font-weight-normal text-primary">Disponibilità giornaliera</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <br>
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0" style="text-align: center;">
                <thead>
                    <th>8-9</th>
                    <th>9-10</th>
                    <th>10-11</th>
                    <th>11-12</th>
                    <th>14-15</th>
                    <th>15-16</th>
                    <th>16-17</th>

                    </tr>
                </thead>
                <tbody>
                    {% for m in maintainer %}{% for d in day|make_list %} {% for act in list_activity %}{% for av in availability %}

                    <tr>
                        <td>
                            <form action="{% url 'slot8_9' av.pk act.pk 1 m.pk%}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{% if av.day == 'Lunedì' %} {{av.minutes}}{% else %} 60{% endif %} min</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'slot9_10' av.pk act.pk 1 m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{% if av.day == 'Martedì' %} {{av.minutes}}{% else %} 60{% endif %} min</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'slot10_11' av.pk act.pk d m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{% if av.day == 'Mercoledì' %} {{av.minutes}}{% else %} 60{% endif %} min</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'slot8_9' av.pk act.pk d m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{% if av.day == 'Giovedì' %} {{av.minutes}}{% else %} 60{% endif %} min</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'slot8_9' av.pk act.pk d m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{% if av.day == 'Venerdì' %} {{av.minutes}}{% else %} 60{% endif %} min</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'slot8_9' av.pk act.pk d m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{% if av.day == 'Sabato' %} {{av.minutes}}{% else %} 60{% endif %} min</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'slot8_9' av.pk act.pk d m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{% if av.day == 'Domenica' %} {{av.minutes}}{% else %} 60{% endif %} min</button>
                            </form>
                        </td>
                        {% empty %}
                        <td>

                            <form action="{% url 'slot8_9' 0 act.pk d m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">60</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'slot9_10' 0 act.pk d m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">60</button>
                            </form>
                        </td>
                        <td>

                            <form action="{% url 'slot10_11' 0 act.pk d m.pk  %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">60</button>
                            </form>
                        </td>
                        <td>

                            <form action="{% url 'slot11_12' 0 act.pk d m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">60</button>
                            </form>
                        </td>
                        <td>

                            <form action="{% url 'slot8_9' 0 act.pk d m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">60</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'slot8_9' 0 act.pk d m.pk  %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">60</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'slot8_9' 0 act.pk d m.pk %}" method="get" style="float: left">
                                <button class="btn-sm ml-2">60</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}{% endfor %}{% endfor %}{% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock content %}