{% extends 'base_planner.html' %} {% block content %}
<script>
    function setFormAction() {
        var action_before = document.
    }
</script>
<div class="card shadow mb-4">
    <div class="card-header">
        <h5 id="activity_list_header" class="font-weight-normal text-primary">Disponibilità giornaliera</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <br>
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0" style="text-align: center;">
                <thead>
                    <th>8-9</th>
                    <th>9-10</th>
                    <th>10-11</th>
                    <th>11-12</th>
                    <th>14-15</th>
                    <th>15-16</th>
                    <th>16-17</th>

                    </tr>
                </thead>
                <tbody>
                    {% for av in availability %} {% for act in list_activity %}

                    <tr>

                        <td>
                            {% if av.slot8_9 >= act.estimated_time %}
                            <form action="{% url 'assign_slot8_9' act.pk av.pk%}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{{av.slot8_9}}</button>
                            </form>
                            {% else %}Non è possibile assegnarlo in questo slot {% endif %}
                        </td>
                        <td>
                            {% if av.slot9_10 >= act.estimated_time %}
                            <form action="{% url 'assign_slot9_10' act.pk av.pk%}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{{av.slot9_10}}</button>
                            </form>
                            {% else %}Non è possibile assegnarlo in questo slot {% endif %}
                        </td>
                        <td>
                            {% if av.slot10_11 >= act.estimated_time %}
                            <form action="{% url 'assign_slot10_11' act.pk av.pk%}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{{av.slot10_11}}</button>
                            </form>{% else %}Non è possibile assegnarlo in questo slot {% endif %}
                        </td>
                        <td>
                            {% if av.slot11_12 >= act.estimated_time %}
                            <form action="{% url 'assign_slot11_12' act.pk av.pk%}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{{av.slot11_12}}</button>
                            </form>{% else %}Non è possibile assegnarlo in questo slot {% endif %}
                        </td>
                        <td>
                            {% if av.slot14_15 >= act.estimated_time %}
                            <form action="{% url 'assign_slot14_15' act.pk av.pk%}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{{av.slot14_15}}</button>
                            </form>{% else %}Non è possibile assegnarlo in questo slot {% endif %}
                        </td>
                        <td>
                            {% if av.slot15_16 >= act.estimated_time %}
                            <form action="{% url 'assign_slot15_16' act.pk av.pk%}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{{av.slot15_16}}</button>
                            </form>{% else %}Non è possibile assegnarlo in questo slot {% endif %}
                        </td>
                        <td>
                            {% if av.slot16_17 >= act.estimated_time %}
                            <form action="{% url 'assign_slot16_17' act.pk av.pk%}" method="get" style="float: left">
                                <button class="btn-sm ml-2">{{av.slot16_17}}</button>
                            </form>{% else %}Non è possibile assegnarlo in questo slot {% endif %}
                        </td>
                    </tr>
                    {% endfor %}{% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock content %}