{% load static %}


<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portale Gestione Manutenzione</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet"> {% block stylesheets %} {% endblock %}

</head>
<script>
    function createTable(){
        var t_body = "";
        var maintainer = "";
        var competence_needed = "";
        var flag = 0;
        var availability_per_day = "";
        var min_disp = 420;
        var perc = "";
        var assign_day = "";
        var i = 0;
        {% for maintainer in list_maintainer %}
            t_body = t_body + "<tr>";
            maintainer = "<td>{{ maintainer.user.last_name }} {{ maintainer.user.first_name }}</td>";
            if (flag == 0) {
				{% for activity in list_activity %}
					{% for competence_needed in activity.competences_needed.all %}
						competence_needed = competence_needed + "{{ competence_needed }}<i class=\"fas fa-times-circle\" aria-hidden=\"true\" style=\"float: right\"></i><br>";
						{% for competence in maintainer.competences.all %}
							{% if competence_needed == competence %}
								competence_needed = competence_needed.substring(0, competence_needed.length-71) + "<i class=\"fas fa-check-circle\" aria-hidden=\"true\" style=\"float: right\"></i><br>";
							{% endif %}
						{% endfor %}
					{% endfor %}
				{% endfor %}
				competence_needed = competence_needed + "</td>";
				flag = 1;
			}
			{% for i in day_loop|make_list %}
			    i = parseInt({{ i }});
                {% for assignment in list_assignment %}
                    if (maintainer == "<td>{{assignment.maintainer}}</td>") {
                        assign_day = "{{assignment.day}}";
                        if (i == 0 && assign_day == "Lunedì" || i == 1 && assign_day == "Martedì" || i == 2 && assign_day == "Mercoledì" || i == 3 && assign_day == "Giovedì" || i == 4 && assign_day == "Venerdì" || i == 5 && assign_day == "Sabato" || i == 6 && assign_day == "Domenica")
                            min_disp = min_disp - 60 + {{assignment.minutes}};
                        else
                            min_disp = 420;
                    }
                {% endfor %}
                perc = (((min_disp/420)*100).toFixed(2)).toString();
                    availability_per_day = availability_per_day + "<td><form action=\"{% for activity in list_activity %}{% url 'availability_slot' activity.pk  maintainer.pk i %}\"{% endfor %} method=\"get\" style=\"float: left\"><button class=\"btn-sm ml-2\" type=\"submit\">" + perc + "%</button></form></td>";
			{% endfor %}
            t_body = t_body + maintainer + "<td style=\"text-align: left\">" + competence_needed + availability_per_day + "</tr>";
            availability_per_day = "";
            flag = 0;
            competence_needed = "";
        {% endfor %}
        document.getElementById("tbody").innerHTML = t_body;
        document.getElementById("backButton").style.display = "none";
        document.getElementById("selectButton").style.display = "none";
        document.getElementById("tableAssign").style.display = "block";
    }

    function iterWeek() {
        var x = 0;
        var str = "";
        for (x = 1; x < 53; x++){
            str = str + "<option value=\"?week=" + x + "\">Week " + x + "</option>";
        }
        document.getElementById("selectWeek").innerHTML = "<option selected disabled>Seleziona Settimana</option> <option value=\"?week=all\">Mostra Tutte</option>" + str;
    }

    function showSelectedWeek(){
        const urlParams = new URLSearchParams(window.location.search);
        const week = urlParams.get('week');
        if (week) {
            if (week != "all") {
                document.getElementById("activity_list_header").innerHTML = "Lista Attività - Week " + week;
            }
        }
    }
</script>
<body id="page-top" onload="iterWeek(); showSelectedWeek(); createTable();">

    <!-- Page Wrapper -->
    <div id="wrapper">
        {% block sidebar_planner %} {% include 'sidebar_planner.html' %} {% endblock %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% block topbar %} {% include 'topbar.html' %} {% endblock %}


                <!-- Begin Page Content -->
                <div class="container-fluid bg-orange">

                    {% block content %} {% endblock %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% block footer %} {% include 'footer.html' %} {% endblock %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href='#'>Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

    {% block scripts %} {% endblock %}

</body>

</html>
