<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'systemadministrator_home' %}">
        <div class="sidebar-brand-icon ">
            <i class="fas fa-tools"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Smart Maintenance App</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'planner_home' %}">
            <i class="fas fa-fw fa-home"></i>
            <span>Lista attività</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'add_activity' %}">
            <i class="fas fa-fw fa-home"></i>
            <span>Aggiungi attività</span></a>
    </li>
    <hr class="sidebar-divider">
    
<!--     <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-fw fa-user"></i>
            <span>Aggiungi Utenti</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'add_single_user' %}">Singola</a>
                <a class="collapse-item" href="{% url 'add_user' %}">Multipla</a>
            </div>
        </div>
    </li> -->
    <!-- <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'systemadministrator_procedures' %}">
            <i class="fas fa-fw fa-clipboard"></i>
            <span>Procedure di Manutenzione</span></a>
    </li> -->
    <hr class="sidebar-divider">

<!--     <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Aggiungi procedure</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'add_one_procedure' %}">Singola</a>
                <a class="collapse-item" href="{% url 'add_procedure' %}">Multipla</a>
            </div>
        </div>
    </li> -->

    <hr class="sidebar-divider">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
