<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'systemadministrator_home' %}">
        <div class="sidebar-brand-icon ">
            <i class="fas fa-university"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Smart Maintenance App</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'systemadministrator_home' %}">
            <i class="fas fa-fw fa-home"></i>
            <span>Lista utenti</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'add_user' %}">
            <i class="fas fa-fw fa-user"></i>
            <span>Aggiungi utenti</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'systemadministrator_procedures' %}">
            <i class="fas fa-fw fa-clipboard"></i>
            <span>Procedure di Manutenzione</span></a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'add_procedure' %}">
            <i class="fas fa-fw fa-clipboard"></i>
            <span>Aggiungi Procedure di Manutenzione</span></a>
    </li>

    <hr class="sidebar-divider">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->