{% extends 'base.html' %} {% block content %}

<div class="card border-left-primary">
    <div class="card-header">
        <h5>Caricamento Nuovi Utenti</h5>
    </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ order }} <br>
            <input class="btn btn-primary" type="file" name="file"><br><br>
            <label class="form-group mt-2"> Seleziona la Tipologia di Utente da Caricare: </label>
            <select class="form-control" name="usertype" id="id_usertype">
                    <option value="SystemAdministrator">System Administrator</option>
                    <option value="Planner">Planner</option>
                    <option value="Maintainer">Maintainer</option>
                </select><br>
            <button class='btn btn-primary btn-sm mt-3' type="submit" style="float: left">Carica</button>
        </form>
    </div>
    <div class="card-body">
        {% if new_users %}
        <form action="{% url 'systemadministrator_home' %}">
            {% csrf_token %}
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h5 class="font-weight-normal text-primary">Lista nuovi utenti</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="" width="100%" cellspacing="0">
                            <thead>
                                <th>Email</th>
                                <th>Nome</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for u in new_users %}
                                <tr>
                                    <td>{{u.email}}</td>
                                    <td>{{u.last_name}} {{u.first_name}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <button class='btn btn-primary btn-sm mt-3' type="submit" style="float: right">Torna alla lista completa
                                    </button>
                    </div>
                </div>
            </div>
        </form>

        {% endif %}
    </div>
</div>

{% endblock %}
