{% extends 'base.html' %} {% block content %}

<div class="card border-left-primary">
    <div class="card-header">
        <h5>Caricamento Nuove Procedure di Manutenzione</h5>
    </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ order }} <br>
            <input class="btn btn-primary" type="file" name="file"><br>

            <button class='btn btn-primary btn-sm mt-3' type="submit" style="float: left">Carica</button>
        </form>
    </div>
    <div class="card-body">
        {% if new_procedures %}
        <form action="{% url 'systemadministrator_procedures' %}">
            {% csrf_token %}
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h5 class="font-weight-normal text-primary">Lista nuove Procedure di Manutenzione</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="" width="100%" cellspacing="0">
                            <thead>
                                <th>Procedura</th>
                                <th>Descrizione</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for p in new_procedures %}
                                <tr>
                                    <td>{{p.procedureName}}</td>
                                    <td>{{p.procedureDescription}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <button class='btn btn-primary btn-sm mt-3' type="submit" style="float: right">Ritorna alla lista completa
                                    </button>
                    </div>
                </div>
            </div>
        </form>

        {% endif %}
    </div>
</div>

{% endblock %}
