{% extends "base.html" %} {% block content %}

<div class="card border-left-primary">
    <div class="card-header">
        <h3>
            Modifica Utente
        </h3>
    </div>
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="form-group">
                    <form method="post">
                        <div class="text-left">
                            <label class="control-label"> Nome </label>
                            <div>{{ form.first_name}}</div>
                            <br>
                            <label class="control-label"> Cognome </label>
                            <div>{{ form.last_name }}</div>
                            <br>
                            <label class="control-label"> Username </label>
                            <div>{{ form.username }}</div>
                            <br>
                            <label class="control-label"> Email </label>
                            <div>{{ form.email }}</div>
                            <br>
                        </div>
                        {% csrf_token %}
                        <button class='btn btn-primary' type="submit" style="float:right;">Salva</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}